@import url("./styles.css");

/* Hero Section */
.hero{
    width: 100%;
    height: 70vh;
}

@media only screen and (min-width: 700px) {
    .hero{
        height: 100vh;
    }
}

.hero .hero-overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

/* .hero-overlay .hero-title{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .5rem auto;
    text-shadow: .1rem .1rem .1rem var(--primary-color);
    color: var(--gray-color);
} */

.hero-title span{
    font-size: .6em;
    color: var(--gray-color);
    opacity: .8;
}

@media only screen and (min-width: 700px) {
    .hero-overlay .hero-title{
        color: var(--gray-color);
        font-size: 2.5em;
    }
    
    .hero-title span{
        color: var(--gray-color);
        font-size: .4em;
    }
}

.hero-overlay .hero-btn{
    margin-top: 2.5rem;
    background-color: var(--primary-color);
    padding: .1rem 1rem;
    border-radius: 5rem;
    font-weight: bold;
    transition: all .5s ease-in-out;
}

@media only screen and (min-width: 700px) {
    .hero-overlay .hero-btn{
        font-size: 1.25em;
        padding: .1rem 1.2rem;
        margin-top: 4rem;
    }
}

.hero-overlay .hero-btn:hover,
.hero-overlay .hero-btn:active{
    color: var(--secondary-color);
}
/* --------------------------------------------------- */